# EditorConfig - https://editorconfig.org
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# C# files - use tabs
[*.cs]
indent_style = tab
indent_size = 4
tab_width = 4

# C# formatting
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true

# Project files - use tabs
[*.csproj]
indent_style = tab
indent_size = 4
tab_width = 4

[*.props]
indent_style = tab
indent_size = 4
tab_width = 4

[*.targets]
indent_style = tab
indent_size = 4
tab_width = 4

# Solution files
[*.sln]
indent_style = tab
indent_size = 4
tab_width = 4

# JSON files - 2 space indentation
[*.json]
indent_style = space
indent_size = 2

# XAML/AXAML files - 2 width tabs
[*.axaml]
indent_style = tab
indent_size = 2
tab_width = 2

[*.xaml]
indent_style = tab
indent_size = 2
tab_width = 2

# XML files - 2 width tabs
[*.xml]
indent_style = tab
indent_size = 2
tab_width = 2

[*.resx]
indent_style = tab
indent_size = 2
tab_width = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Config files
[*.{config,manifest}]
indent_style = tab
indent_size = 2
tab_width = 2
