<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- OutputDebugString target for Visual Studio/DebugView -->
    <target name="debugger" xsi:type="OutputDebugString" 
            layout="${time} [${logger:shortName=true}] ${message}" />
    
    <!-- Console for general output -->
    <target name="console" xsi:type="Console" 
            layout="${message}" />
  </targets>

  <rules>
    <!-- ClientServerLog goes to OutputDebugString -->
    <logger name="ClientServerLog" minlevel="Trace" writeTo="debugger" final="true" />
    
    <!-- Everything else to console -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>

</nlog>
