<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/WinNUT-Client" />

	<targets>
		<target xsi:type="File" 
						name="file" 
						fileName="${logDirectory}/WinNUT-Client.log"
						layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${message}${exception:format=tostring}"
						archiveEvery="Day"
						archiveFileName="${logDirectory}/WinNUT-Client.{#}.log"
						archiveNumbering="Date"
						archiveDateFormat="yyyy-MM-dd"
						maxArchiveFiles="30"
						concurrentWrites="true"
						keepFileOpen="false" />

		<target xsi:type="Debugger" 
						name="debugger" 
						layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="debugger" />
	</rules>
</nlog>
